* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
}

#logo {
    width: 29rem;
    height: 15rem;
}

.header {
    /* background-color: #DCDCDC; */
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
    z-index: 1;
    width: 100%;
    /* box-shadow: 2px 5px #888888; */
}

.sticky {
    position: fixed;
    top: 0;
    border-bottom: 2px solid rgb(140, 174, 112);
}

.nav {
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    font-size: 1rem;
}

.list,
.list2,
.list3,
.list4 {
    margin-top: 8rem;
    text-decoration: none;
}

li>a {
    font-size: 1.5rem;
    color: inherit;
    text-decoration: none;
}

li>a:hover {
    background-color: gray;
    padding: 1rem;
}

.nav li img {
    margin-top: 2rem;
}

.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}


/* Create four equal columns that sits next to each other */

.column {
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin: 6px auto;
    vertical-align: middle;
    width: 100%;
}

.column img:hover {
    border: 2px solid rgb(140, 174, 112);
}


/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
    .list,
    .list2,
    .list3,
    .list4 {
        display: none;
    }
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
    .list,
    .list2,
    .list3,
    .list4 {
        display: none;
    }
}


/* .clearfix:after {
    content: "";
    display: table;
    clear: both;
} */