body {
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
    font-family: 'Raleway', sans-serif;
}

#logo {
    width: 29rem;
    height: 15rem;
}

.header {
    /* background-color: #DCDCDC; */
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
    z-index: 1;
    width: 100%;
    /* box-shadow: 2px 5px #888888; */
}

.sticky {
    position: fixed;
    top: 0;
    border-bottom: 2px solid rgb(140, 174, 112);
}

.nav {
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    font-size: 1rem;
}

.list,
.list2,
.list3,
.list4 {
    margin-top: 8rem;
}

.nav li img {
    margin-top: 2rem;
}

h2 {
    text-align: center;
}

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 20px 6px;
    float: left;
    width: 24.99999%;
}

img {
    width: "600";
    height: "400";
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}