.grid-container {
    display: grid;
    grid-template-areas: 'header header header header ' 'about about about about ' 'menu menu menu menu' 'location location location location ' 'footer footer footer footer';
    grid-gap: 10px;
    background-color: #DCDCDC;
    padding: 10px;
}

img {
    vertical-align: middle;
    height: 30rem;
}


/* Slideshow container */

.slideshow-container {
    position: relative;
    margin: auto;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .7
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .7
    }
    to {
        opacity: 1
    }
}


/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

.grid-container>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

.main-header {
    grid-area: header;
}

#logo {
    width: 50%;
    height: 21rem;
}

.header {
    background-color: #DCDCDC;
    z-index: 1;
}

.sticky {
    position: fixed;
    top: 0;
    width: 94%;
}

.nav {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.about,
.menu,
.location,
.footer {
    width: 85%;
    margin-left: 4rem;
}

.about {
    grid-area: about;
}

.story {
    display: grid;
    grid-template-areas: 'story-text story-img story-img story-img';
    grid-gap: 30px;
}

.story-text {
    grid-area: story-text;
    text-align: justify;
}

.story-img {
    grid-area: story-img
}

.story>img {
    float: right;
}

.menu {
    grid-area: menu;
}

.location {
    grid-area: location;
}

.loc {
    grid-area: loc
}

.add {
    grid-area: add
}

.lo {
    display: grid;
    grid-template-areas: 'loc loc loc add' 'map map map reservation' 'address address address reservation';
    grid-gap: 20px;
    padding: 5px 10px;
}

#map {
    height: 350px;
    width: 100%;
}

.map {
    grid-area: map
}

.address {
    grid-area: address;
}

.reservation {
    grid-area: reservation;
}

.form {
    text-align: start;
    line-height: 2;
}

.footer {
    grid-area: footer;
}