body {
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
    font-family: 'Raleway', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-areas: 'header header header header ' 'about about about about ' 'menu menu menu menu' 'location location location location ' 'footer footer footer footer';
    grid-gap: 10px;
    /* background-color: #DCDCDC; */
    padding: 10px;
}

img {
    vertical-align: middle;
    height: 30rem;
}


/* Slideshow container */

.slideshow-container {
    position: relative;
    margin: auto;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .7
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .7
    }
    to {
        opacity: 1
    }
}


/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

.grid-container>div {
    text-align: center;
    padding: 30px;
}

.main-header {
    grid-area: header;
}

#logo {
    width: 13rem;
    height: 6rem;
}

.header {
    /* background-color: #DCDCDC; */
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
    z-index: 1;
    width: 94%;
    /* box-shadow: 2px 5px #888888; */
}

.sticky {
    position: fixed;
    top: 0;
    /* width: 94%; */
    border-bottom: 2px solid green;
}

.nav {
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    font-size: 1rem;
}

.nav li {
    margin-top: 2rem;
}

.nav li img {
    margin-top: -2rem;
}

.about,
.menu,
.location,
.footer {
    width: 85%;
    margin-left: 4rem;
}

.about {
    grid-area: about;
    font-size: 30px;
}

.story {
    display: grid;
    grid-template-areas: 'story-text story-text story-text story-text';
    grid-gap: 25px;
}

.story-text {
    grid-area: story-text;
    margin: 0;
    text-align: initial;
    font-size: 30px;
}


/* .story-img {
    grid-area: story-img
} */

.story-text>img {
    float: right;
    margin: 0 10px;
    width: 55%;
    height: 55%;
}


/* menu tabs */

.tablink {
    background-color: transparent;
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: #777;
}


/* Style the tab content (and add height:100% for full page content) */

.tabcontent {
    color: black;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

#Dinner,
#Lunch,
#Dessert,
#Catering {
    background-color: transparent;
}


/*  */

.menu {
    grid-area: menu;
}

.location {
    grid-area: location;
}

.loc {
    grid-area: loc
}

.add {
    grid-area: add
}

.lo {
    display: grid;
    grid-template-areas: 'loc loc add add' 'map map reservation reservation' 'address address reservation reservation';
    grid-gap: 20px;
    padding: 5px 10px;
}

.icons {
    float: left;
}

.icon-add {
    margin-top: -.7rem;
}

#map {
    height: 350px;
    width: 100%;
}

.map {
    grid-area: map
}

.address {
    grid-area: address;
    text-align: start;
    font-size: 1rem;
}

.reservation {
    grid-area: reservation;
}

.form {
    text-align: justify;
    line-height: 2;
}

.footer {
    grid-area: footer;
    padding: 2rem;
    font-size: 1rem;
}