.header {
    grid-area: header;
    height: 100vh;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.nav {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.about {
    grid-area: about;
}

.menu {
    grid-area: menu;
}

.location {
    grid-area: location;
}

.footer {
    grid-area: footer;
}

.grid-container {
    display: grid;
    grid-template-areas: 'header header header header ' 'about about about about ' 'menu menu menu menu' 'location location location location ' 'footer footer footer footer';
    grid-gap: 10px;
    background-color: #DCDCDC;
    padding: 10px;
}

.grid-container>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px;
    font-size: 30px;
}